APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:/HeumCv/FnKAtdBKrnAg14XI3CRRpV5QQ/YN/Ozg0GE=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=ecom_josh
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=reverb
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=mailpit
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_HOST=
PUSHER_PORT=443
PUSHER_SCHEME=https
PUSHER_APP_CLUSTER=mt1

VITE_APP_NAME="${APP_NAME}"
VITE_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
VITE_PUSHER_HOST="${PUSHER_HOST}"
VITE_PUSHER_PORT="${PUSHER_PORT}"
VITE_PUSHER_SCHEME="${PUSHER_SCHEME}"
VITE_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

#PAYPAL_MODE=sandbox
#PAYPAL_SANDBOX_CLIENT_ID=AYr7_SNHd7I_t1U-fUGbh0kuA93hvgGELk_ILpK7Ea4HUPXORbxDaXur71cdTCS0N7-arsd-woBi0Zen
#PAYPAL_SANDBOX_CLIENT_SECRET=EDPoQdah4wQD-A9Fov7It1iwE-W5jsOYuPYxuG84D8-4IA-JIq7E2SZxHhAJUyFzs6KX2NeMIxTpRMeL

#STRIPE_KEY=pk_test_51PkUr300qpfuQFWszJMeCKrRzbRuKcxxnHrM2cpi8fW6KvRLGkXFZijagmXbxvYl19SAym5dAISMoV6yfpN8m8ZN00YMEWgU2u
#STRIPE_SECRET=sk_test_51PkUr300qpfuQFWscmrgtu09OzHGGqsJ3i2zYO0XxeUsM6arOYXJo8Snd8K7EQJSnOaLx29Mw5N4YyCIJrPtgiJd00nMh2TmWc


REVERB_APP_ID=842378
REVERB_APP_KEY=mmtyvycwaaewm0uje3tp
REVERB_APP_SECRET=pfqhbc8ode4otwye2ilc
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
