.clock {
    width: 100%;
    height: 100%;
    background-size: cover;
    position: relative;
}

.clock::before {
    content: '';
    width: 5px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.hand {
    position: absolute;
    bottom: 50%;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
    transform-origin: bottom;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.hour {
    width: 0.0625rem;
    height: 40%;
    background-color: #000;
}

.minute {
    width: 0.0625rem;
    height: 45%;
    background-color: #000;
}

.second {
    width: 0.0625rem;
    height: 50%;
    background-color: #ff0000;
}
